body{
    font-family: Arial;
    font-size: 15px;
    min-height: 500px;
}
div#quiz{
    border: #59ff00 3px solid;
    padding: 10px 40px 40px 40px;
    background-color: hsl(116, 66%, 9%);
    width: 50%;
}